@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 12px;
  --box-shadow-x: 6px;
  --box-shadow-y: 6px;
  --reverse-box-shadow-x: -6px;
  --reverse-box-shadow-y: -6px;

  --heading-font-weight: 700;
  --base-font-weight: 500;

  --background: oklch(93.46% 0.0305 255.11);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);

  --main: oklch(67.47% 0.1726 259.49);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: rgba(0, 0, 0, 0.8);

  --chart-1: #5294ff;
  --chart-2: #ff4d50;
  --chart-3: #facc00;
  --chart-4: #05e17a;
  --chart-5: #7a83ff;
  --chart-active-dot: #000;

  --spacing-boxShadowX: var(--box-shadow-x);
  --spacing-boxShadowY: var(--box-shadow-y);
  --spacing-reverseBoxShadowX: var(--reverse-box-shadow-x);
  --spacing-reverseBoxShadowY: var(--reverse-box-shadow-y);

  --radius-base: var(--border-radius);
  --shadow-shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  --shadow-nav: 6px 6px 0px 0px var(--border);
  --shadow-darkNav: 6px 6px 0px 0px var(--border);

  --font-weight-base: var(--base-font-weight);
  --font-weight-heading: var(--heading-font-weight);

  --animate-marquee: marquee 40s linear infinite;
  --animate-marquee-up: marquee-up 50s linear infinite;
  --animate-marquee2: marquee2 40s linear infinite;

  --spacing-container: 1300px;
}

.dark {
  --background: oklch(29.12% 0.0633 270.86);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);

  --main: oklch(67.47% 0.1726 259.49);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --overlay: rgba(0, 0, 0, 0.8);

  --chart-1: #5294ff;
  --chart-2: #ff6669;
  --chart-3: #e0b700;
  --chart-4: #04c86d;
  --chart-5: #7a83ff;
  --chart-active-dot: #fff;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-background text-foreground font-base m-0 min-h-screen antialiased;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
    background-size: 70px 70px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  a {
    color: inherit;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
